<h3>Prochaine séance</h3>
<ul>
    <li><span>Semaine du 22 au 26 nov. TD n°6 -- <strong>CC n°3</strong></span></li>
</ul>

<hr>

<ul>
    
    <li><span>Semaine du 30 nov.au 3 déc. TD n°7 (1h30) -- <em>bientôt le contenu</em></span></li>
    <li>Vendredi 10 déc. 10h15--12h15 TD n°8 <strong>CC n°4</strong><br>
        3 Exercices de programmation sur papier
    </li>
</ul>

<h3>Séances passées</h3>
<ul>
    <li><span>Semaine du 18 au 22 oct. TD n°1 -- Contrôle continu n°1 sur 10 pts<br>Il s'agira d'un QCM sur l'affectation, le for, le while, le if et les fonctions</span></li>
    <li><span>Semaine du 25 au 29 oct. TD n°2 -- travail sur les séquences ; <a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=243010">clic-droit ici pour télécharger le notebook de l'énoncé</a></span></li>
    <li><span>Semaine du 1 au 5 nov. TD n°3 -- Contrôle continu n°2 sur 10 pts<br>Il s'agira de <del>5</del> 4 fonctions à écrire avec UpyLaB2 sur la manipulation des séquences</span></li>
    <li><span>Semaine du 8 au 12 nov. TD n°4 -- On continue à travailler avec les séquences et les fichiers</span></li>
    <li><span>Semaine du 15 au 19 nov. TD n°5 -- Entraînement en vue du contrôle continu n°3</span></li>
</ul>
