<!-- extrait du moodle -->
<h2>Prochaines séances</h2>
<p>Si vous n'êtes pas encore inscrit au cours <em>UR - Programmation Python</em> sur l'outil UpyLaB2 : <a href="https://upylab2.ulb.ac.be/student/course-invitation/ahaoBE9yaJ1LVb8COZzF">Cliquer ici</a></p>

<ul>
    <li>CM 9 -- mardi 30.11 14h et mercredi 1.12 8h30<br>
        Préparation : aucune.<br>
        Sujet : La récursivité
    </li>

    <hr>

    <li>CM 10 -- mercredi 8.12 8h30 et jeudi 9.12 8h30<br>
        Préparation : <em>bientôt</em>
    </li>



<h2>Séances passées</h2>
<p>Les notebooks des compte-rendu sont disponibles dans la section Notebooks des séances. Ils constituent des résumés importants pour réviser. Pour télécharger : faites un clic-droit et enregistrer sous... Ils sont à visualiser avec JupyterLab. L'installation et l'utilisation est décrite ici sur <a href="https://sebhoa.gitlab.io/s1sc122/01_installations/jupyter/">cette page gitlab</a></p>

<ul>
    <li>CM 1 -- mardi 5.10 8h30 et jeudi 7.10 14h<br>
        Présentation de l'UE et début avec les structures complexes -- <a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=236902">Clic-droit et télécharge le notebook de la séance</a> 
    </li>

    <li>CM 2 -- mardi 12.10 8h30 et vendredi 15.10 10h30<br>
        Introduction aux séquences (Section 5.1 du Mooc) sur UpyLaB2 faire les exercices du chapitre <em>S1IN120 - Préparation 2</em> -- <a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=238795">Clic-droit et télécharge le notebook de la séance</a>
    </li>

    <li>CM 3 -- lundi 18.10 10h30 et mardi 19.10 10h30<br>
        Préparation : visionner les vidéos des sections 5.2 et 5.4 du Mooc sur les séquences ; sur UpyLaB2 faire les 3 exercices du chapitre <em>S1IN120 - Préparation 3</em>
        <a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=241027">Clic-droit et télécharge le notebook de la séance</a>
    </li>

    <li>CM 4 -- mardi 26.10 8h30 et mercredi 27.10 8h30<br>
        Thème : Les fichiers texte<br>
        Préparation : visionner les vidéos de la section 5.8 + les 3 exercices sur UpyLaB2 dans le chapitre préparation 4<br>
        <a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=245215">Clic-droit et télécharge le dossier zippé contenant le compte-rendu ainsi que les fichiers annexes nécessaires.</a>
    </li>

    <li>CM 5 -- mardi 2.11 8h30 et mercredi 3.11 8h30<br>
        Préparation : travailler la fin du TD 2 ! Un corrigé commenté sera réalisé.<br>
        <a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=246907">Clic-droit et télécharge le notebook de la séance</a>
    </li>

    <li>CM 6 -- mardi 9.11 8h30 et mercredi 10.11 8h30<br>
        Préparation : ensembles et dictionnaires, section 6.1et les exercices 6.1, 6.2 et 6.3<br>
        <a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=249940">Clic-droit et télécharge le notebook de la séance</a> 
    </li>

    <li>CM 7 -- mardi 16.11 8h30 et mercredi 17.11 8h30<br>
        Préparation : Réfléchir à vos difficultés sur l'exercice 2 du TD 4. Exercices 6.8 et 6.9 sur le Mooc (section 6.3)<br>
        La séance a porté sur l'exercice 2 du TD 4 et le rendu de monnaie. CR à finaliser.
    </li>

    <li>CM 8 -- séance annulée <del>mercredi 24.11 8h30 et vendredi 26.11 14h00</del></li>

</ul>